.main-div{
   
    justify-content: center;
    align-items: center;
    top: 50%;
    /* margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    margin-bottom: 20%; */
    text-align: center;
    margin: 20%;
}
.loginBtn{
    margin-top: 2%;
    padding: 1%;
    border-radius: 10px;
}
.labels{
    display: inline-block;
}