<div class="row">
    <div *ngFor="let c of courseCardList" class=" col-md-3">
        <app-course-card [imageUrl]="c.imageUrl" [titleText]="c.title" [titleDescription]="c.description" (eventSelector)="eventCatcher($event)"></app-course-card>
    </div>
</div>

<!-- @for (std of studentObj; track std.id;let index=$index;let count=$count;
    let first=$first;let last=$last){
    <h2>{{index}}</h2>
    <h2>{{count}}</h2>
    <p>std.name</p>
    @empty{
        <h3>No student found!</h3>
    }
} -->