<div class="row">
    <div *ngFor="let c of courseCardList;index as i;even as IsEven;odd as IsOdd;first as IsFirst;last as IsLast" class=" col-md-3">
        <app-course-card [imageUrl]="c.imageUrl" [cardIndex]="i+1" [titleText]="c.title" [ngClass]="{'beginner':IsEven}" [titleDescription]="c.description" (eventSelector)="eventCatcher($event)"
        [ngStyle]="{'font-family':'monospace'}" 
        [style.text-decoration]="'underline'"></app-course-card>
    </div>
</div>

<!--
    @for requires tracking function otherwise it will throw error.
    we can create custom tracking function.
    trackCourse(index:number,course:Course){
        return course.id;
    } 
    @for(std of studentObj;track trackCourse){

    }
    
    @for (std of studentObj; track std.id;let index=$index;let count=$count;
    let first=$first;let last=$last;let even=$even;let odd=$odd){
    <h2>{{index}}</h2>
    <h2>{{count}}</h2>
    <p [class.is-first]>std.name</p>
    @empty{
        <h3>No student found!</h3>
    }
} -->


<!--
    //it looks like plain javascript syntax..
     @if(condition){
    //code to run 
}
@else if{
    //else code to run
}
@else{

}
ngClass can take string,array,object or expression as value.
ngStyle helps in adding multiple styles , we can also pass expression.
 -->